/* 字体大小 */
.fz-5 {
    font-size: 10px !important;
}
.fz-6 {
    font-size: 12px !important;
}
.fz-7 {
    font-size: 14px !important;
}
.fz-8 {
    font-size: 16px !important;
}
.fz-9 {
    font-size: 18px !important;
}
.fz-10 {
    font-size: 20px !important;
}
.fz-11 {
    font-size: 22px !important;
}
.fz-12 {
    font-size: 24px !important;
}
.fz-13 {
    font-size: 26px !important;
}
.fz-14 {
    font-size: 28px !important;
}
.fz-15 {
    font-size: 30px !important;
}
.fz-16 {
    font-size: 32px !important;
}
.fz-17 {
    font-size: 34px !important;
}
.fz-18 {
    font-size: 36px !important;
}
.fz-19 {
    font-size: 38px !important;
}
.fz-20 {
    font-size: 40px !important;
}
.fz-21 {
    font-size: 42px !important;
}
.fz-22 {
    font-size: 44px !important;
}
.fz-23 {
    font-size: 46px !important;
}
.fz-24 {
    font-size: 48px !important;
}
.fz-25 {
    font-size: 50px !important;
}
.fz-26 {
    font-size: 52px !important;
}
.fz-bold {
    font-weight: bold;
}
.fw-400 {
    font-weight: 400;
}
/* 字体颜色 */
.fc-999{
    color: #999 !important;
}
.fc-000{
    color: #000 !important;
}
.fc-fff{
    color: #fff !important;
}
.fc-409{
    color: #409EFF !important;
}
.fc-e2{
    color: #e2e2e2 !important;
}
.fc-red{
    color: red !important;
}
.fc-ylow{
    color: #f46e0c !important;
}
/* 布局 */
.fl-cen{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fl-al{
    display: flex;
    align-items: center;
}
.fl-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mar-r-10 {
    margin-right: 10px;
}
.mar-l-10 {
    margin-left: 10px;
}
.mar-t-10 {
    margin-top: 10px;
}
.mar-b-10 {
    margin-bottom: 10px;
}
.visi-hid{
    visibility: hidden;
}
.img-show-inner {
    width: 30px;
    height: 30px;
}